
<div class="sidebar">

  <div class="container sidebar-sticky">
    <img class="sidebar-img" src=" {{ site.picture.path1 }}" alt="Hello!">

    <div class="sidebar-about">

      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
        <p style=font-size:0.5em;">{{ site.mail }}</p>
      </h1>

      <p class="leadsmall">{{ site.description }} at the {{ site.team }} of the {{ site.lab }}</p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.github.repo }}"><i class="fa fa-github">&nbsp;&nbsp;</i>GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.gscholar }}"><i class="ai ai-google-scholar ai-fw">&nbsp;</i>Google Scholar</a>
    </nav>

  </div>
</div>
